@import '../../style/varibles.scss';

.sidebar-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    padding: 35px 30px;
    background-color: $backgroundColorGrey;
    position: fixed;
    
    .navlink-container {
        padding: 40px 0;
        border-top: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
        margin: 35px 0;
    }
    .navlink-control-container {
        font-weight: 300;
    }
}